@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<object>

@{
  Layout = "_Layout.cshtml";
}

@section Masthead {
	@Html.Partial("_Masthead")
}
@section HeadArea {
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/index.css")"/>
}

<h2>Find a Dinner</h2>

<div id="react-app"></div>

<script src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.3" type="text/javascript"></script>
<script src="@Url.Content("~/index.js")" type="text/javascript"></script>
